@import 'variables';

.header {
	position: relative;
	width: 100%;
	font-family: $title-font;
	background-color: $backgroundcolor-header;
}

.header__content {
	position: relative;
	height: 50px;
}

.header__title {
	position: relative;
	display: inline-block;
	width: 30%;
}

.header__title-text {
	color: $secondary-color;
	font-weight: 700;
	font-size: 25px;
	margin-left: auto;
	text-align: center;
	text-shadow: 0 2px 2px rgba(0,0,0,.2);
	vertical-align: middle;
	margin-top: 9px;
}