.merged__container {
	margin: 0 auto;
	text-align: center;
}

.merged__text {
	margin: 20px auto;
	font-weight: 700;
	font-style: italic;
}

.merged__img {
	margin: 0 auto;
	border: 1px solid black;
}