.preview {
	position: relative;
	display: block;
	text-align: center;
	margin: 25px auto;
}

.preview__img {
	width: 250px;
	margin: 0 auto;
}

.preview__text {
	font-weight: 700;
	margin: 10px auto;
}

.preview__button-remove {
	display: block;
	margin: 7px auto;
}

.preview__natural {
	position: fixed;
	z-index: -100;
	opacity: 0;
}
