@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

$title-font: 'Playfair Display', serif;
$primary-font: 'Noto Sans', sans-serif;
$backgroundcolor-header: lightgray;

$primary-color: #004953;
$primary-color: #8B0000;
// $secondary-color: darkblue;
$secondary-color: white;
